 /*-------------------
  This is google fonts
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.background{
    background-color: #264653;
    width: 100%;
}
/* hr{
    width: 58px;
    border: 5px;
    color: #E76F51;
} */
.bike img{
    width: 288px;
    height: 243px;
}

 /* Clients style  */
 
.clients img{
     width: 150px;
     height: 150px;
     border-radius: 150px;
     justify-content: center;
     align-items: center;
 }
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: gainsboro;
}
footer{
    color: white;
    background-color: #0B0D17;
}